#banner, svg {
  overflow: hidden;
  height: auto;
  width: auto;
}

#cloud1, #cloud2 {
  animation-name: floating;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  // animation-play-state: paused;
}

#cloud2 {
  animation-duration: 120s;
}

#light1, #light2, #light3 {
  fill: #ccc;
}

#airplane {
  animation-name: flying;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes floating {
  0% { transform: translate(-300%, 0); }
  100% { transform: translate(1000%, 0); }
}

@keyframes flying {
  0% { transform: translate(100%, 0); }
  70% { transform: translate(-1200%, 0); }
  100% { transform: translate(-1200%, 0); }
}
